* {
  background-color: #f5f4f0;
  font-family: "Open Sans", sans-serif;
  align-items: center;
}

.container {
  width: 1120px;
}

#headline {
  color: #e1624f;
  font-weight: bold;
}

h1,
h2,
h3 {
  color: #1b1b1b;
  font-weight: bold;
}

#description {
  color: #333333;
  font-style: italic;
}

#paragraph {
  color: #333333;
}

ul,
li {
  font-weight: bold;
}
